@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Noto Sans", sans-serif;
}
nav {
  font-family: "Noto Sans", sans-serif;
}
body {
  background-color: aliceblue;
}
nav ul {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  list-style-type: none;
  height: 55px;
  background-color: black;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  /* padding: 10px 0; */
}
.logo {
  height: 35px;
  /* width: 40px; */
}
.logo:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}
.logoText {
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin-left: 10px;
}
.logoText:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  color: white;
}
.item {
  color: white;
  text-decoration: none;
  font-size: 20px;
  /* padding: 0 20px; */
  margin-left: 20px;
}
.bottom {
  height: 67px;
  /* position: sticky; */
  background-color: rgb(0, 0, 0);
  bottom: 0;
  width: 90%;
  margin: 23px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container {
  min-height: 65vh;
  display: flex;
  width: 70%;
  margin: 23px auto;
  color: white;
  font-family: "Noto Sans", sans-serif;
  background-color: black;
  border-radius: 10px;
  padding: 20px;
  background-image: url(bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#myProgressBar {
  width: 80%;
  height: 5px;
  background-color: #279b30b4;
  color: rgb(48, 156, 38);
  /* position: fixed; */
  margin-top: 5px;
  bottom: 0;
  cursor: pointer;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 100%;
  width: 80px;
  cursor: pointer;
  color: white;
}
.icons:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}
.songItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 12px 0;
  background-color: aliceblue;
  border-radius: 34px;
  height: 50px;
  color: black;
  box-sizing: border-box;
  border: 1px solid transparent; /* Optional: subtle border for clarity */
  position: relative;
}
.songItem img {
  margin-left: 10px;
  width: 43px;
  border-radius: 34px;
}
.time {
  margin-right: 10px;
  margin-left: 20px;
}
#playy {
  margin-right: 10px;
  cursor: pointer;
}
#playy:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}
.songInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-left: 10px;
}
.songInfo img {
  margin-right: 10px;
  width: 42px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
}
footer p:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}
#gif {
  /* opacity: ; */
  /* opacity 0 */
  transition: opacity 0.6s ease-in-out;
}
