@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Noto Sans", sans-serif;
}
nav {
  font-family: "Noto Sans", sans-serif;
}
body {
  background-color: rgb(30, 194, 88);
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  height: 55px;
  background-color: black;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  /* padding: 10px 0; */
}
.sign {
  color: white;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.logo {
  /* margin-top: 5px; */
  height: 35px;
  /* width: 40px; */
}
.logo:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}
.logoText {
  /* margin-top: 5px; */
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin-left: 10px;
}
.logoText:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  color: white;
}
.item {
  color: white;
  text-decoration: none;
  font-size: 20px;
  /* padding: 0 20px; */
  margin-left: 20px;
}
.bottom {
  height: 67px;
  /* position: sticky; */
  background-color: rgb(0, 0, 0);
  bottom: 0;
  width: 90%;
  margin: 23px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container {
  min-height: 65vh;
  display: flex;
  width: 75%;
  margin: 23px auto;
  color: white;
  font-family: "Noto Sans", sans-serif;
  background-color: black;
  border-radius: 10px;
  padding: 20px;
  background-image: url(bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#myProgressBar {
  width: 80%;
  height: 5px;
  background-color: #279b30b4;
  color: rgb(48, 156, 38);
  /* position: fixed; */
  margin-top: 5px;
  bottom: 0;
  cursor: pointer;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 100%;
  width: 80px;
  cursor: pointer;
  color: white;
}
.icons:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}
h2 {
  /* text-align: center; */
  font-size: 1.5rem;
  margin-bottom: 15px;
  margin-left: 15px;
  color: white;
}
.songList {
  width: 50%;
  height: 100%;
}
.songItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto;
  background-color: aliceblue;
  border-radius: 20px;
  height: 50px;
  color: black;
  box-sizing: border-box;
  border: 1px solid transparent;
  /* overflow-x: auto; */
  font-size: 1rem;
  /* white-space: nowrap; */
}
.songItem img {
  margin-left: 10px;
  width: 43px;
  height: 43px;
  border-radius: 20px;
}
.time {
  font-size: 1rem;
  margin-right: 5px;
  margin-left: 10px;
}
.songItemPlay {
  font-size: 1.2rem;
  margin-right: 10px;
  cursor: pointer;
}
.songItemPlay:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}
.songInfo {
  display: inline-flex;
  align-items: center;
  color: white;
  font-family: "Noto Sans", sans-serif;
  /* font-size: 0.3rem; */
  margin-left: 10px;
}
.songInfo img {
  margin-right: 10px;
  width: 42px;
}
.songItem::-webkit-scrollbar {
  display: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
}
footer p:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}
#gif {
  /* opacity: ; */
  /* opacity 0 */
  transition: opacity 0.5s ease-in-out;
}
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    padding: 10px;
    min-height: 40vh;
  }

  .bottom {
    width: 95%;
    height: 50px;
    margin: 10px auto;
  }

  #myProgressBar {
    width: 95%;
    height: 3px;
  }

  .songItem {
    width: 200%;
    height: 40px;
    margin: 8px 0;
    border-radius: 15px;
  }

  .songItem img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border-radius: 15px;
  }

  .time {
    font-size: 0.8rem;
    margin-right: 5px;
    margin-left: 10px;
  }

  .songInfo {
    font-size: 0.9rem;
    margin-left: 5px;
  }

  .songInfo img {
    width: 30px;
    margin-right: 5px;
  }

  .icons {
    width: 70px;
    margin-top: 5px;
  }

  footer {
    height: 50px;
    font-size: 0.8rem;
  }

  .item {
    /* margin: 5px 0; */
    font-size: 0.8rem;
    margin-left: 10px;
  }
  .sign i {
    margin-top: 5px;
    font-size: 1.5rem;
    margin-right: 5px;
  }
  .logo {
    font-size: 0.5rem;
    height: 30px;
  }

  .logoText {
    margin-left: 5px;
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1.5rem;
    margin-left: 5px;
  }
  .image {
    padding-left: 5px;
  }
  .sign {
    font-size: 1rem;
    margin-right: 10px;
  }
  nav ul {
    height: auto;
    padding: 10px;
    align-items: flex-start;
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .item {
    font-size: 1rem;
  }

  .logo {
    height: 25px;
    /* font-size: 1.2rem; */
  }
  h2 {
    font-size: 1.2rem;
    margin-left: 5px;
  }

  .logoText {
    font-size: 1rem;
  }
  .sign i {
    /* margin-top: 2px; */
    font-size: 1rem;
    margin-right: 5px;
  }

  .container {
    padding: 8px;
  }

  .songItem {
    width: 200%;
    height: 35px;
  }

  .songItem img {
    height: 25px;
    width: 25px;
  }

  .songInfo {
    font-size: 0.8rem;
  }

  .songInfo img {
    width: 25px;
  }

  .time {
    font-size: 0.7rem;
  }

  .icons {
    width: 60px;
  }

  footer {
    font-size: 0.7rem;
  }
}
